<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card bg-dark text-light" style="width: 18rem;">
    <img class="card-img-top" src="assets/rick-va.jpg" alt="Profile Image">
    <div class="card-body">
      <h5 class="card-title text-primary">{{ user.nickname }}</h5>
      <div class="card-text">
        <label for="user-nickname" class="text-info">User nickname:</label>
        <p id="user-nickname">{{ user.nickname }}</p>

        <label for="user-email" class="text-info">User email:</label>
        <p id="user-email">{{ user.email }}</p>

        <label for="user-role" class="text-info">User role:</label>
        <p id="user-role">{{ user.role }}</p>

        <label for="user-balance" class="text-info">User balance:</label>
        <p id="user-balance">{{ user.balance }}</p>
      </div>
      <button class="btn btn-primary" (click)="onClickModify()">Modify</button>
      <button class="btn btn-warning" (click)="onClickDelete()">Delete</button>
    </div>
  </div>
</div>
