<div class="d-flex flex-column align-items-center vh-100 m-5">
  <form [formGroup]="adminModifyForm" (ngSubmit)="modifyUserDetails()" class="col-md-6 border p-4 bg-dark text-light border border-primary rounded" style="width: 24rem;">
    
    <img class="card-img-top rounded" src="assets/run.jpg" alt="Profile Image">  
    
    <div class="mb-3">
          <label for="user-email" class="form-label">User Email:</label>
          <input
              id="user-email"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                  'is-invalid':
                  adminModifyForm.controls['email'].touched &&
                  adminModifyForm.controls['email'].invalid
              }"
              placeholder="Email"
          />
      </div>

      <div class="mb-3">
          <label for="user-nickname" class="form-label">User Nickname:</label>
          <input
              id="user-nickname"
              formControlName="nickname"
              class="form-control"
              [ngClass]="{
                  'is-invalid':
                  adminModifyForm.controls['nickname'].touched &&
                  adminModifyForm.controls['nickname'].invalid
              }"
              placeholder="Nickname"
          />
      </div>
      <button type="submit" class="btn btn-primary">Update User Details</button>
  </form>
</div>
