<div class="container-fluid mt-5 mb-5" style="overflow-x: auto; white-space: nowrap; height: 100vh;">
  <div *ngFor="let user of users" style="display: inline-block; margin-right: 20px;">
    <div class="card bg-dark text-light" style="width: 18rem;">
      <img class="card-img-top" src="assets/morty.jpg" alt="Profile Image">
      <div class="card-body">
        <h5 class="card-title text-primary">{{ user.nickname }}</h5>
        <div class="card-text mb-3"> 
          <label class="font-weight-bold text-info">User nickname:</label>
          <p>{{ user.nickname }}</p>

          <label class="font-weight-bold text-info">User email:</label>
          <p>{{ user.email }}</p>

          <label class="font-weight-bold text-info">User role:</label>
          <p>{{ user.role }}</p>

          <label class="font-weight-bold text-info">User balance:</label>
          <p>{{ user.balance }}</p>
        </div>
        <button class="btn btn-primary" style="margin-top: 10px;" (click)="updateUserDetails(user.email)">Modify</button>
        <button class="btn btn-success" style="margin-top: 10px;" (click)="upgradeToAdmin(user.email)">Switch Role</button>
        <button class="btn btn-warning" style="margin-top: 10px;" (click)="deleteUser(user.email)">Delete</button>
      </div>
    </div>
  </div>
</div>
