<form #firstForm="ngForm" (ngSubmit)="onSubmit(firstForm)">
    <mat-form-field>
        <mat-label>Nickname</mat-label>
        <!-- Ng fornisce la possibilità di marcare con classi specifiche ng-invalid i campi innput non correttamente compilati
        in questo caso dico solo che deve essere compilato sotto aggiungo che deve essere una mail -->
        <input matInput type="text" name="nickname" ngModel required>    
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" name="email" ngModel required email>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" name="password" ngModel required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select matInput required>
            <mat-option value="USER">User</mat-option>
            <mat-option value="ADMIN">Admin</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!firstForm.valid">SUBMIT</button>
</form>